
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;

%btn-styler {
    display: inline-block;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    position: relative;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 1rem = 10px. This logic makes it easy to convert all
    font-sizes to rem units.*/
    font-size: 10px; 
       
    /* Default font-size of a brouser is 16px. 
    So, in order to keep the root font-sise equal to 10px
    in dependance of default browser settings,
    we calculate it in percentages: 10/16*100 = 62.5%.
    This approach will make it possible for a user to adjust
    default browser settings to his needs. */
    font-size: 62.5%; 
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

/* .header__logo:hover {
    animation: moveInRight 1s ease-out;
    -webkit-animation: moveInRight 1s ease-out;
} */

.heading-primary {
    margin-bottom: 6rem;
    color: $color-white;
    text-transform: uppercase;
    
    /*fix unwanted element shaking during animation*/
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInRight 1s ease-out;
        -webkit-animation: moveInRight 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInLeft 1 ease-out;
        -webkit-animation: moveInLeft 1s ease-out;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        -webkit-transform: translateX(-10rem);
        -moz-transform: translateX(-10rem);
        -ms-transform: translateX(-10rem);
        -o-transform: translateX(-10rem);
}

    80% {
        transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        -moz-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
        -o-transform: translateX(1rem);
}

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
        -webkit-transform: translateX(10rem);
        -moz-transform: translateX(10rem);
        -ms-transform: translateX(10rem);
        -o-transform: translateX(10rem);
}

    80% {
        transform: translateX(-1rem);
        -webkit-transform: translateX(-1rem);
        -moz-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
        -o-transform: translateX(-1rem);
}

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.btn {
    &:link,
    &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    position: relative;
    // @extend %btn-styler;
    }

    &:hover {
        transform: translateY(-.3rem);
        -webkit-transform: translateY(-.3rem);
        -moz-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
        -o-transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            -webkit-transform: scaleX(1.4) scaleY(1.6);
            -moz-transform: scaleX(1.4) scaleY(1.6);
            -ms-transform: scaleX(1.4) scaleY(1.6);
            -o-transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        -webkit-transform: translateY(-.1rem);
        -moz-transform: translateY(-.1rem);
        -ms-transform: translateY(-.1rem);
        -o-transform: translateY(-.1rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .5s backwards;
        -webkit-animation: moveInBottom .5s ease-out .5s backwards;
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
}

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}


p {
    font-size: 2rem;
    background-color: lightcoral;
}

span {
    padding-left: 50px;
    padding-top: 30px;
} 