.btn {
    &:link,
    &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    font-size: $default-font-size;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        -webkit-transform: translateY(-.3rem);
        -moz-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
        -o-transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            -webkit-transform: scaleX(1.4) scaleY(1.6);
            -moz-transform: scaleX(1.4) scaleY(1.6);
            -ms-transform: scaleX(1.4) scaleY(1.6);
            -o-transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        -webkit-transform: translateY(-.1rem);
        -moz-transform: translateY(-.1rem);
        -ms-transform: translateY(-.1rem);
        -o-transform: translateY(-.1rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
    }

    &--white {
        background-color: #fff;
        color: $color-grey-dark;

        &::after {
            background-color: #fff;
        }
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .5s backwards;
        -webkit-animation: moveInBottom .5s ease-out .5s backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
}

    &:hover {
        color: #fff;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
}

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}