.card {
    // FUNCTIONALITY
    position: relative;
    height: 50rem;
    -moz-perspective: 150rem;
    perspective: 150rem;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .8s ease;
        height: inherit;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000, .15);
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        &--front {
            background-color: #fff;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: url(../img/nat-5.jpg);
        }

        &--3 {
            background-image: url(../img/nat-5.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        width: 75%;
        position: absolute;
        top: 12rem;
        right: 2rem;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
    }
}