.composition {
    position: relative;
    z-index: 1;

    @include respond(tablet-portraite) {
        bottom: 6rem;
    }

    &__photo {
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        outline-offset: 2rem;


        @include respond(tablet-portraite) {
            position: relative;
            width: 33.33333%;
            float: left;
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .2);
        }

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tablet-portraite) {
                top: 1rem;
                right: 3rem;
            }

            @include respond(phone) {
                top: 0;
                z-index: 1;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;
            
            @include respond(tablet-portraite) {
                top: 6rem;
                left: -25rem;
            }

            @include respond(phone) {
                top: 3rem;
                left: -19rem;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            -webkit-transform: scale(1.05) translateY(-.5rem);
            -webkit-transform: none;
            -moz-transform: scale(1.05) translateY(-.5rem);
            -ms-transform: scale(1.05) translateY(-.5rem);
            -o-transform: scale(1.05) translateY(-.5rem);
            z-index: 1;

            @include respond(tablet-landscape) {
                outline: none;
                transform: scale(1) translateY(0);
                -webkit-transform: scale(1) translateY(0);
                -webkit-transform: none;
                -moz-transform: scale(1) translateY(0);
                -ms-transform: scale(1) translateY(0);
                -o-transform: scale(1) translateY(0);
            }
        }
    }
    
    &:hover &__photo:not(:hover) {
        transform: scale(.95) translateY(.5rem);
        -webkit-transform: scale(.95) translateY(.5rem);
        -moz-transform: scale(.95) translateY(.5rem);
        -ms-transform: scale(.95) translateY(.5rem);
        -o-transform: scale(.95) translateY(.5rem);
        
        @include respond(tablet-landscape) {
            outline: none;
            transform: scale(1) translateY(0);
            -webkit-transform: scale(1) translateY(0);
            -webkit-transform: none;
            -moz-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            -o-transform: scale(1) translateY(0);
        } 
    }
}