.feature-box {
    background-color: rgba(#fff, .7);
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;

    @include respond(tablet-portraite) {
        padding: 2rem;
    }
    
    &__icon {
        display: inline-block;
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    
    &:hover {
        box-shadow: 0 2.5rem 5rem rgba(#000, .25);
        background-color: rgba(#fff, .75);
        transform: translateY(-1.5rem) scale(1.03);
        -webkit-transform: translateY(-1.5rem) scale(1.03);
        -moz-transform: translateY(-1.5rem) scale(1.03);
        -ms-transform: translateY(-1.5rem) scale(1.03);
        -o-transform: translateY(-1.5rem) scale(1.03);
    }
}