.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
        }

    &__input {
        display: block;
        width: 90%;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        background-color: rgba(#fff, .5);
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid transparent;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }


    &__label {
        display: block;
        margin: .7rem 0 0 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: inherit;
    }
}