.story {
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 3px;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tablet-portraite) {
        width: 125%;
        position: relative;
        right: 7rem;
        padding: 2rem 2rem 4rem 6rem;
        font-size: 1.5rem;
    }

    @include respond(phone) {
        width: 100%;
        right: 0;
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%; //* (Same as below with a star.)
        
        // * For old versions of Firefox which don't support clip-path and shape-outside.
                @supports (clip-path: circle(50%)) or (-webkit-clip-path: circle(50%)) {
            clip-path: circle(50%);
            -webkit-clip-path: circle(50%);
            shape-outside: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);    
            border-radius: none;   
        }

        @include respond(tablet-landscape) {
            width: 15.5rem;
            height: 15.5rem;
        }

        @include respond(tablet-portraite) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-3rem) scale(1.2);
        transition: all .5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0) scale(1.2);
            // transition: all 0s;
        }
    }

    &:hover &__img {
        transform: translateX(-3rem) scale(1);
        -webkit-filter: blur(1px) brightness(80%);
        filter: blur(1px) brightness(80%);

        @include respond(tablet-portraite) {
            transform: translateX(-3rem) scale(1.2);
            -webkit-filter: none;
            filter: none;
        }
    }

    &__caption {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        @include pos_center;
        transform: translate(-50%, 20%);
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: all .5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        @include respond(tablet-portraite) {
            opacity: 1;
            font-size: 1.3rem;
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);

        @include respond(tablet-portraite) {
            transform: translate(-50%, 20%);
        }
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }
}