.story {
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 3px;
    font-size: $default-font-size;

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);  
    }
    
    &__img {
        height: 100%;
    }
       

}