body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}

.heading-primary {
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;
    
    /*fix unwanted element shaking during animation*/
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInRight 1s ease-out;
        -webkit-animation: moveInRight 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInLeft 1 ease-out;
        -webkit-animation: moveInLeft 1s ease-out;
    }
}