body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    margin-bottom: 6rem;
    color: #fff;
    text-transform: uppercase;

    /*fix unwanted element shaking during animation*/
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInRight 1s ease-out;
        -webkit-animation: moveInRight 1s ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInLeft 1 ease-out;
        -webkit-animation: moveInLeft 1s ease-out;
    }
}


.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    transition: all, .2s;
    -webkit-transition: all, .2s;
    -moz-transition: all, .2s;
    -ms-transition: all, .2s;
    -o-transition: all, .2s;

    &:hover {
        transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        -webkit-transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        -moz-transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        -ms-transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        -o-transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#000, .2);
    }
}