.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -12rem;

    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);

    // Direct chile selector. Celecting DIRECT children of the parent element ("row" in this case) and scewing them back.
    &>* {
        transform: skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11.5rem;
}

.section-stories {
    padding: 15rem 0;
    font-size: 1.6rem;
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
}

.book {
    // solid color gradient
    background-image: linear-gradient(105deg,
            rgba(#fff, .9) 0%,
            rgba(#fff, .9) 50%,
            rgba(#fff, 0) 50%),
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
    // width: 75%;
    height: 50rem;
}