.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 5rem;
    margin-top: -20vh;
    
    @include respond(tablet-portraite) {
        &__btn {
            position: relative;
            left: 32rem;
        }
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -12rem;
    
    @include respond(tablet-landscape) {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4-min.jpg);
    }
    
    @media (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    }
  
    @include respond(phone) {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4-min.jpg);
    }

    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg); 
    -o-transform: skewY(-7deg);

    // Direct child selector. Celecting DIRECT children of the parent element ("row" in this case) and scewing them back.
    &>* {
        transform: skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
    }

    @include respond(tablet-portraite) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11.5rem;

    @include respond(tablet-portraite) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    font-size: 1.6rem;
    position: relative;

    @include respond(tablet-portraite) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    // solid color gradient
    background-image: linear-gradient(105deg,
            rgba(#fff, .9) 0%,
            rgba(#fff, .9) 50%,
            transparent 50%), url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);

    @include respond(tablet-landscape) {
        background-image: linear-gradient(105deg,
            rgba(#fff, .9) 0%,
            rgba(#fff, .9) 65%,
            transparent 65%), url(../img/nat-10-min.jpg);
    }

    @media (max-width: 75em) and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(105deg,
            rgba(#fff, .9) 0%,
            rgba(#fff, .9) 65%,
            transparent 65%), url(../img/nat-10.jpg);
        }
        


    @include respond(tablet-portraite) {
        background-image: linear-gradient(to right,
                rgba(#fff, .9) 0%,
                rgba(#fff, .9) 100%),
            url(../img/nat-10-min.jpg);
            height: auto;
            background-size: auto;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tablet-landscape) {
            width: 65%;
        }

        @include respond(tablet-portraite) {
            width: 100%;
        }
    }
}